// Import fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: $main-background;
}

.page-container {
  width: 100vw;
  overflow: hidden;
}

.row {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
}

.semi-bold {
  font-weight: 600;
}

h1 {
  background: $secondary-background;
  margin: 0;
  padding-top: 40px;
}
