$accent-color-1: #00bbb9;
$accent-color-2: #83bf23;
$accent-color-3: #ff6700;
$sub-nav-active-background: #00a8a6;
$package-active-background: #fff7f1;
$main-background: #f2f2f2;
$secondary-background: #fff;
$footer: #cccccc;
$primary-font-color: #262626;
$secondary-font-color: #fff;
